<!DOCTYPE html>
<html lang="en" >
<head>
  <title>My To-Do web app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="core.js"></script>
</head>

<body >
<div ng-app="angularTodoApp" ng-controller="MainController">

  <div class="box color" align="center">
    <h3>My To-Do web app</h3>
  </div>
  <table style="width:100%" class="table">
    <tr>
      <td align="center" ng-repeat="tsk in task_panel">
        <div class="{{ tsk.class_panel }}">
          <div class="card-header">{{ tsk.title }}</div>
          <div class="card-body">
            <div ng-repeat="ts in tsk.myTasks" class="task_border">
              {{ ts.ts_title }} <br/>
              <div align="left">
                {{ ts.ts_description }} <br/>
              </div>
              <div align="right">
                <a href="#" class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#show_user_modal" ng-click="showDetail(ts._id)">Show task</a>
                <a href="#" class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#edit_task_modal" ng-click="showDetail(ts._id)">Edit task</a>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-success">
            <a href="#" class="btn btn-link" role="button" data-toggle="modal" data-target="#add_task_modal" ng-click="setAddTask(tsk.sts)">Add task</a>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <!-- Modal for add a task-->
  <div id="add_task_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" align="center">{{ addmsg }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div>
            <form>
              <div>
                Task title:
                <input type="text" class="form-control input-lg" ng-model="formData.title">
                <br/>
                Task description:
                <input type="text" class="form-control input-lg" ng-model="formData.description">
                <br/>
                Add users:
                <select ng-model="formData.users" name="user">
                  <option ng-repeat="u in users" value="{{u._id.toString()}}">{{u.us_name}}</option>
                </select>
                <br/>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveTask()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for user info-->
  <div id="show_user_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Task information</h4>
          <button type="button" class="close" data-dismiss="modal" ng-click="cleanTaskInfo()">&times;</button>
        </div>
        <div class="modal-body">
          Task title: {{ taskInfo.ts_title }} <br/>
          Task description: {{ taskInfo.ts_description }} <br/>
          Task status: {{ taskInfo.ts_status }} <br/>
          Task users:
          <ul>
            <li  ng-repeat="unm in taskInfo.ts_users">{{ unm }}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal for edit task -->
  <div id="edit_task_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            Task title: {{ taskInfo.ts_title }} <br/>
            <label for="input_title">New title: </label>
            <input id="input_title" type="text" class="form.control input-lg" ng-model="formData.title"> <br/> <br/>

            Task description: {{ taskInfo.ts_description }} <br/>
            <label for="input_desc">New description</label>
            <input id="input_desc" type="text" class="form.control input-lg" ng-model="formData.description"> <br/> <br/>

            Task status: {{ taskInfo.ts_status }} <br/>
            <label for="input_st">New status</label>
            <select id="input_st" ng-model="formData.status" name="status">
              <option ng-repeat="val in allStatus" value="{{ val.value }}">{{ val.name }}</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editTask(taskInfo._id)">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- User section -->
  <div>
    <div class="box color2" align="center">
      <h4>Users</h4>
    </div>
    <table style="width:90%" class="table">
     <tr align="center">
       <td>
         <a href="#" class="btn btn-info btn-lg" role="button" data-toggle="modal" data-target="#add_user" align="right">Create User</a>
         <div id="add_user" class="modal" tabindex="-1" role="dialog">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title">Add an user</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <form>
                   <div>
                     <label for="input_usnm">Username: </label>
                     <input id="input_usnm" type="text" class="form-control input-lg" ng-model="formData.us_name">
                   </div>
                 </form>

               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addUser()">Save</button>
               </div>
               </div>
             </div>
           </div>
       </td>
       <td>
         <div class="card border-dark">
           <div class="card-header">
             User list
           </div>
           <div class="card-body">
             <div ng-repeat="us in users" class="task_border">
               {{ us.us_name }} <br/>
             </div>
           </div>
         </div>
       </td>
     </tr>
   </table>
  </div>
</div>
</body>
</html>
